@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* font-family: "Gotham"; */
  src: url(./assets/fonts/Caslon/F37Caslon-BoldHairline.otf);
}
/* linear-gradient(90deg, rgba(32,31,31,0.8) 10%, rgba(50,47,47,0.6) 100%), */
.picture{
  background-image:linear-gradient(90deg, rgba(32,31,31,0.5) 10%, rgba(50,47,47,0.4) 100%),url("./assets/images/createAccountImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;



}

.line{
  position: relative;
}
.line::after{
  content: "";
  position: absolute;
  border-bottom: 1px solid gray;
  width: 100px;
  top: 19px;
  
  /* right: 350px; */
  



}

new{
  background-color: rgb(209, 209, 209);
}
.line::before{
  content: "";
  position: absolute;
  border-bottom: 1px solid gray;
  width: 100px;
  
  left: 0;
  top: 19px;
}

h1{
  font-family: "Gotham";

}
/* media queries */
@media screen and (max-width:500px){
.pic{
  display: none;

  
}
.landing-page{

  display: flex;
  flex-direction: ;
  /* background-image:linear-gradient(90deg, rgba(32,31,31,0) 0%, rgba(50,47,47,0  ) 0), url(./assets/images/homeimage.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  

}
}

/* the buttons */
/* .signin{
  color: red;
} */
/* home page */
.pic{
  background-image:linear-gradient(90deg, rgba(32,31,31,0.5) 0%, rgba(50,47,47,0.3  ) 10%), url(./assets/images/homeimage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 190px;
}